# Ignore vs code stuffs
.vscode/
wtengine.code-workspace

# Ignore cmake stuffs
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Ignore local backup
.bakignore
*_bak/

# Ignore build stuffs
build/
*.o

# Ignore generated documentation
docs/

# Ignore library files
lib/

# Ignore test scripts
tools/csv2sdf/*.sdf
tools/csv2sdf/*.csv

# Ignore comment_updater.config
comment_updater.config
