# Ignore vs code stuffs
.vscode/
wtengine.code-workspace

# Ignore local backup
bak/
wte_backup.bat

# Ignore build stuffs
output/
wte_update_dlls.bat

# Ignore documentation
documentation/

# Ignore test scripts
tools/csv2sdf/*.sdf
tools/csv2sdf/*.csv

# Ignore cmake stuffs
CMakeFiles/
CMakeCache.txt
